.users {
	padding: 5px;
	&__title {
		margin: 0 0 15px 0;
	}
	&__list {
	}

	&__list .userItem {
		margin: 0 0 10px 0;
	}

	&__list .userItem:last-child {
		margin: 0;
	}

	&__page-list {
		overflow-wrap: anywhere;
		margin: 10px 0;
	}

	&__page-item {
		display: inline;
		padding: 5px 3px;
	}
	.active {
		font-weight: bold;
	}
}
