.userItem {
	display: grid;
	// grid-template: repeat(1, auto) / repeat(3, auto);
	// grid-template: auto / repeat(3, minmax(150px, 1fr));
	grid-template: auto 1fr / auto 1fr;
	align-items: center;
	background-color: #242527;
	padding: 15px;
	border-radius: 5px;
	position: relative;
	&__avatar {
		display: block;
		width: 120px;
		height: 120px;
		border-radius: 50%;
	}

	&__user-info {
		margin: 0 0 0 10px;
	}

	&__user-info li:first-child {
		margin: 0 0 8px 0;
	}

	&__user-info li {
		margin: 0 0 5px 0;
	}

	&__btn {
		position: absolute;
		right: 10px;
		bottom: 10px;
	}
}
