.profileInfo {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: #242527;
	border-radius: 5px;
	padding: 15px;
	&__data li {
		margin: 0 0 10px 0;
	}

	&__data div {
		text-align: center;
	}
	&__name {
		text-align: center;
	}
	&__age {
		margin: 10px;
	}
	&__city {
	}
	&__avatar {
		display: block;
		width: 150px;
		height: 150px;
		border-radius: 50%;

		padding: 8px;
		background-color: #18191b;
	}
	&__job-look-status {
		width: 15px;
	}

	&__status {
		text-align: center;
	}
}
