.post {
	display: flex;
	justify-content: space-between;

	background-color: #242527;
	padding: 10px;
	border-radius: 5px;

	margin: 10px 0 0 0;
	&__content {
	}

	&__info {
		display: flex;
		justify-content: start;
		align-items: center;
	}

	&__textContent {
		margin: 10px 0 0 0;
		font-size: 20px;
	}

	&__actions {
		display: flex;

		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
	}
}
