.dialogs {
	display: grid;
	grid-template: 1fr / 1fr 2.2fr;
	height: 100%;

	&__contacts {
		overflow: auto;
	}

	&__contact-list a {
		color: white;
		display: block;
	}

	&__contact-list {
		padding: 0 0 0 5px;
		overflow: auto;
	}

	&__message-window {
		background-color: #242527;
		padding: 20px;
		border-radius: 5px;
	}
}

.dialogs__contact-list a {
	padding: 10px 30px 10px 10px;
	border-radius: 5px 0 0 5px;
}

// .dialogs__message-list div:first-child {
// 	margin: 10px 0 0 0;
// }

.dialogs__contact-list a.active {
	background-color: #242527;

	display: block;
	width: 100%;
}
