.dialogs {
	display: flex;
	justify-content: space-between;

	&__contact-list a {
		color: white;
	}

	&__sms-list {
		width: 60%;
	}
}

.dialogs__contact-list a {
	padding: 10px;
}

.dialogs__sms-list div:first-child {
	margin: 10px 0 0 0;
}
