.dialogs {
	display: flex;
	justify-content: space-between;

	&__contact-list a {
		color: white;
	}

	&__contact-item,
	&__sms-item {
		margin: 0 0 10px 0;
	}

	&__sms-list {
		width: 60%;
	}

	&__sms-item {
		p {
			margin: 10px 0;
		}
	}
}
